#include <windows.h>
#include "../src/version.h"

IDI_ICON1 ICON "icons/app.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,VERSION_BUILD_COUNT
 PRODUCTVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,VERSION_BUILD_COUNT
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "catch22\0"
            VALUE "FileDescription", "Room Tunes\0"
            VALUE "FileVersion", FILE_VERSION_STRING "\0"
            VALUE "InternalName", "roomtunes\0"
            VALUE "OriginalFilename", "roomtunes.exe\0"
            VALUE "ProductName", "Room Tunes\0"
            VALUE "ProductVersion", PRODUCT_VERSION_STRING "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
